# Assignment 1

œûœû(‡πë‚öà ‚Ä§Ã´ ‚öà‡πë)

You are pokemon trainer, and you want to be the very best. However, traveling across the land and searching far and wide isn't really your thing... So instead, you decide to explore your pokedex data to find the best pokemons.

The data can be found under `pokedex/pokemons.csv`. In lecture 2.2, we learned how to open `.csv` files with pandas. Run the cell below to get an overview of the dataset:

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('pokedex/pokemons.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Problem 1 

Oh dear, Professor Oak just texted us: there's a mistake in the pokedex! üôÄ `Farfetch'd` is actually a `Legendary` pokemon!

üí™ **Task: Update the `Legendary` value of the row where `Name == "Farfetch'd"` to `True`.**

Pro-tip: there are many ways to create strings in python. Pick the right one from the [documentation](https://docs.python.org/3/tutorial/introduction.html#strings) to avoid clashes with the `'` symbol in the pokemon name.

In [11]:
df.loc[(df['Name']=='Farfetch\'d'),'Legendary']= True

In [13]:
def test_farfetchd_update():
    legendary_count = df['Legendary'].sum()
    assert legendary_count == 66, f"With Farfetch'd, there should now be 66 legendary pokemons, but there are only {legendary_count}" 
    print('Success! üéâ')
    
test_farfetchd_update()

Success! üéâ

## Problem 2

Your pokemons always run out of hit points in battle üòí. Find the pokemon with the highest `HP` stat!

üí™ **Task: Find the `Name` of the pokemon with the highest `HP` value.**

The name should be returned by functional code in a cell output below:

In [4]:
def Highest_HP():
    highestp = df.sort_values(by='HP',ascending = False)
    return highestp.head(1)

Highest_HP()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

## Problem 3

Everyone knows that winning battles is all about attack. If only there was a way to know which pokemon had the highest combined `Attack` and `Sp. Atk`...

üí™ **Task: Create a new column called `Total Attack` defined as follows:**

$
Total\, Attack = Attack + Sp. Atk
$

In [7]:
df['Total Attack']=df['Attack']+df['Sp. Atk']

In [8]:
def test_total_attack_column():
    assert 'Total Attack' in df.columns, f'Total Attack is missing from the dataframe\'s columns'
    print('Success! üéâ')
    
def test_total_attack_values():
    assert df.loc[666, 'Total Attack'] == 140, f"There was an error in the Total Attack value"
    print('Success! üéâ')

test_total_attack_column()
test_total_attack_values()

Success! üéâ
Success! üéâ

## Problem 4

You would like to train pokemons of similar type, since you aspire to one day become another Gym Leader with a single weakness ü§∑‚Äç‚ôÇÔ∏è. But since you are data driven, you would like to pick only the "smart" pokemon types that have high average `Sp. Def`.

üí™  **Task: _Filter_ your dataframe so that only `Type 1` groups whose average `Sp. Def` is greater than 80 remain.**

Pro-tip 1: you should only consider `Type 1` in this exercise.  
Pro-tip 2: make sure that you update the `df` variable with the new filtered dataframe.

In [15]:
df = df.groupby('Type 1').filter(lambda df: df['Sp. Def'].mean() > 80)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
40,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False
41,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
69,64,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,1,False
70,65,Alakazam,Psychic,NaN,500,55,50,45,135,95,120,1,False

In [16]:
def test_filter_weak_types():
    n_unique_type1 = df['Type 1'].nunique()
    assert n_unique_type1 == 4, f'Found {n_unique_type1} unique values of "Type 1" after filtering, expected 4'
    assert len(df) == 133, f'Found {len(df)} pokemons after filtering, expected 133'
    print('Success! üéâ')
    
test_filter_weak_types()

Success! üéâ

## Problem 5

Finally, you would like to save this dataframe of "smart pokemons" as a new dataset in your pokedex, so that later you can pick your best friend and defend the world. üåè

**Task: Save the filtered dataframe of "smart" pokemons to a new dataset, under `pokedex/smart_pokemons.csv`.**

Pro-tip: you might want to look up this [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).

In [17]:
df.to_csv('pokedex/smart_pokemons.csv')

In [18]:
def test_new_dataset():
    datasets = !ls pokedex
    assert len(datasets) == 2, f'Expected 2 datasets, pokemons and smart_pokemons, but found {len(datasets)}'
    df = pd.read_csv('pokedex/smart_pokemons.csv')
    assert len(df) == 133, f'Found {len(df)} smart pokemons, expected 133'
    print('Success! üéâ')
    
test_new_dataset()

Success! üéâ